.header{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    .mainheder{
        display: flex;
        .logo{

        }
        .contentbutton{

        }
    }
    .navbarheader{
        display: flex;
    }
}