/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

} */

.firstcontainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(#007bb2, #0d1423); */
}